button {
    background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #961a58;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 19px;
    text-align: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
/* .body{
    display: grid;
    grid-template-columns: 15% auto 15%
} */